{% extends getPartial('page-design') %}

{% set contactConfigSet = not config("Ceres.contact.show_data") is empty or config("Ceres.contact.show_data") == "all" %}
{% set googleApiKey     = config("Ceres.contact.api_key") %}
{% set zip              = config("system.company.zip") %}
{% set street           = config("system.company.street") %}
{% set mapZoom          = config("Ceres.contact.map_zoom") %}
{% set showMapInMobile  = config("Ceres.contact.map_show_in_mobile") %}

{% set coordinates = services.contactMap.getMapCoordinates(googleApiKey, street, zip) %}



{% block PageBody %}
    <div class="page-content container-max contact pt-0 bg-white">
        <div class="row container-max">
            <div class="col-12">
                <div class="widget widget-background d-flex parallax-img-container mh-100  widget-fw">
                    <img src="https://snap-pap.de/wp-content/uploads/2015/05/kontakt.jpg" alt="kontakt" class="bg-contain">
                </div>
            </div>
        </div>

        <div class="row cmp-contact container-max">

            {% set formId = uid() %}
            <form id="contact-form" class="col-12{% if contactConfigSet and not googleApiKey %} col-md-8 col-lg-9{% endif %}" method="post" @submit.prevent="$store.dispatch('sendContactForm', $event)">
                <div class="row">
                    <div class="col-12 col-md-4 mb-3">
                        <div class="input-unit">
                            <input type="text" name="{{ formId }}_name" id="{{ formId }}_name">
                            <label for="{{ formId }}_name">{{ trans("Ceres::Template.contactName") }} ({{ trans("Ceres::Template.contactOptional") }})</label>
                            <input type="hidden" data-mail="reply-to-name" value="{{ formId }}_name">
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mb-3">
                        <div class="input-unit " data-validate="mail">
                            <input type="email" name="{{ formId }}_mail" id="{{ formId }}_mail">
                            <label for="{{ formId }}_mail">{{ trans("Ceres::Template.contactMail") }}*</label>
                            <input type="hidden" data-mail="reply-to-address" value="{{ formId }}_mail">
                        </div>
                        <div class="error-feedback">{{ trans("Ceres::Template.contactEnterConfirmEmail") }}</div>
                    </div>

                    <div class="col-12 col-md-4 text-sm-left">
                        <h2 class="font-weight-bold">Schick uns eine Nachricht!</h2>
                    </div>

                    <div class="col-12 col-md-8 mb-3">
                        <div class="input-unit" data-validate="text">
                            <input type="text" name="{{ formId }}_subject" id="{{ formId }}_subject">
                            <label for="{{ formId }}_subject">{{ trans("Ceres::Template.contactSubject") }}*</label>
                            <input type="hidden" data-mail="subject" value="{{ formId }}_subject">
                        </div>
                        <div class="error-feedback">{{ trans("Ceres::Template.contactEditSubject") }}</div>
                    </div>

                    <div class="col-12 col-md-4 text-sm-left">
                        <p class="font-weight-bold">Fragen oder Anregungen zu SnapPap.
                            Schicke uns einfach eine Nachricht und wir werden uns schnellstmöglich um dein Anliegen kümmern.</p>
                    </div>

                    <div class="col-8">
                        <div class="input-unit textarea" data-validate="text">
                            <textarea name="{{ formId }}_message" id="{{ formId }}_message" class="no-resize" rows="15"></textarea>
                            <label for="{{ formId }}_message">{{ trans('Ceres::Template.contactMessage') }}*</label>
                        </div>
                        <div class="error-feedback">{{ trans("Ceres::Template.contactEditMessage") }}</div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <span>E-Mail</span>
                            </div>
                            <div class="col-md-6">
                                <span>Telefon</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span>info@snaply.de</span>
                            </div>
                            <div class="col-md-6">
                                <span>+49 8752 869675</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-2">* {{ trans("Ceres::Template.contactRequiredField") }}</div>

                    <div class="col-12">
                        {% if ceresConfig.global.googleRecaptchaApiKey | trim is not empty %}
                            <recaptcha></recaptcha>
                        {% endif %}
                    </div>

                    <div class="col-12 col-md-9">
                        <div class="form-check">
                            <input class="form-check-input"
                                   data-mail="cc"
                                   value="{{ formId }}_mail"
                                   type="checkbox"
                                   id="{{ formId }}_copy_to_me">
                            <label class="form-check-label" for="{{ formId }}_copy_to_me">
                                {{ trans("Ceres::Template.contactSendMeACopy") }}
                            </label>
                        </div>
                    </div>

                    <hr>
                    {% if ceresConfig.contact.enableConfirmingPrivacyPolicy %}
                        <div class="col-12">
                            <div class="form-check" data-validate="">
                                <input class="form-check-input" type="checkbox" id="{{ formId }}_privacy_check" name="{{ formId }}_privacy_check">
                                <label class="form-check-label" for="{{ formId }}_privacy_check">
                                    {% autoescape false %}
                                        {% spaceless %}
                                            {% set policyContent %}
                                                <a href="{{ urls.privacyPolicy }}" target="_blank">
                                                    <span>{{ trans("Ceres::Template.contactPrivacyPolicy", {"hyphen": "&shy;"}) }}</span>
                                                </a>
                                            {% endset %}
                                        {% endspaceless %}

                                        {{ trans("Ceres::Template.contactAcceptPrivacyPolicy", {"policy": policyContent}) }}<sup>*</sup>
                                    {% endautoescape %}
                                </label>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-12 col-md-3 mb-2">
                        <input class="honey" type="text" name="username" autocomplete="new-password" tabindex="-1">
                        <button type="submit" class="btn btn-lg btn-outline-dark btn-block">
                            SENDEN
                        </button>
                    </div>
                </div>
            </form>

            {% if googleApiKey and not contactConfigSet %}
                <div class="col-12 mt-5{% if showMapInMobile == "false" %} d-none d-md-block{% endif %}">
                    <google-maps-widget :lat="{{ coordinates.location.lat }}"
                                        :lng="{{ coordinates.location.lng }}"
                                        :zoom="{{ mapZoom | default(16) }}">
                        <div class="d-flex align-items-center justify-content-center h-100 position-absolute w-100 text-muted">
                            <span>{{ Twig.trans("Ceres::Template.consentGoogleMapsBlockedHint") }}</span>
                        </div>
                    </google-maps-widget>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
